#root {
  /* max-width: 1280px; */
  width: 100vw;
  margin: 0 auto;
  padding: 1rem;
}

/* Initial styling */
form {
  display: flex;
  align-items: center;
}

form * {
  margin-right: 16px;
}

input, button {
  padding: 8px 16px;
  border-radius: 8px;
  border: 1px solid rgb(160, 160, 160);
}

.search-meta {
  color: rgba(255, 255, 255, 0.5)
}
